/* Gebruik komma's om dezelfde stijlkenmerken toe te wijzen aan meerdere selectoren. */
header, nav, footer, article { 
    font-family: Trebuchet, Trebuchet MS, Verdana;
    
}

* {
    border-radius: 10px;
    transition: 400ms;
}

header, footer {
    background-color: none;
    color: black;
    text-align: center;
    clear: both
}

header {
    background-image: url("../afbeeldingen/achtergrond.webp");
    background-size: cover;
    background-position-y: center;
    margin: 0px;
    border-radius: 0px;
    
}

header h1 {
    color: #64F5E6;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0px;
    padding: 40px;
    font-weight: bolder;
    font-size: 50px;
    border-radius: 0px;
}
#balk_blauw {
    width: 100%;
    height: 5px;
    background-color: #1500ff;
    border-radius: 0px;
}


#balk_wit {
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    border-radius: 0px;
}

body {
    background-image: url("../afbeeldingen/achtergrond.jpg");
    background-size: auto;
    background-color: white;
    min-height: 100%;
    height: 100%;
    margin: 0px;
}

nav {
    float: left;
    width: max-content;
    position: absolute;
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}



article {
    float: right;
    width: calc(100% - 150px);
    margin: 10px;
    padding: 10px;
    background-color: #64F5E6;
    text-align: center;
    /* lichtblauw */
}

#foto_article, #foto_article img {
    background-color: #64F5E6;
    opacity: 1;
}



#foto_article:hover, #foto_article img:hover {
    /* background-color: rgba(0, 0, 0, 0.5); */
    opacity: 0.4;
}


.menu {
    display: block;
    width: 70px;
    background-color: #64F5E6;
    /* lichtblauw */
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    color: black;
}

.menu:hover {
    background-color: black;
    color: #64F5E6;
    /* lichtblauw */
}
