* {
	transition: 400ms;
}

body {
	background-color: grey;
	margin: 0px;
	}

header, aside, footer, article {
	display: block;
	}

header, footer {
	background-color: white;
	padding: 5px;
	}

header {
	background-image: url("../afbeeldingen/hoofding.jpg");
	padding: 0px;
	text-align: center;
	color: white;
	}
	
h1 {
	font-size: 90px;
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: rgba(0, 0, 0, 0.4);
	margin: 0px;
	animation: changeColor 10s infinite;
	}
h1:hover {
	background-color: rgba(0, 0, 0, 0);

}

@keyframes changeColor {
	0% { color:white;}
	25% {color: gray;}
	75% {color:burlywood}
	100% {color: white;}
}

aside {
	float: right;
	width: 15%;
	background-color: white;
	padding: 2%;
	margin-top: 1%;
	margin-right: 1%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}

aside:hover {
	width: 19%;
}

article {
	float: left;
	width: 70%;
	margin: 1%;
	padding: 2%;
	
	background-color: #DDDDDD;	/*lichtgrijs*/
	}
	
footer {
	clear: both;
	text-align: center;
	}

p {
	font-style: normal;
	font-weight: 200;
	margin: 1%;
}

blockquote {
	font-style: italic;
}

.speeltuig_list {
	font-weight: bolder;
	display: inline;
}

p:hover, h2:hover, h3:hover, li:hover {
	color: red;
}

blockquote:hover {
	color: blue;
}