body {
    font-family: Roboto;
  }
  
  section {
      background-color: rgb(242, 242, 242);
  }
  
  .pagination a {
      background-color: #8fd300;
  }
  
  .blogpost h3 {
      color: #006690;
  }

  .spacing {
    margin-bottom: -50px;
  }