@font-face {
    font-family: bookman;
    src: url('bookos.ttf') format('truetype');
	}

body {
	background-color: white;
	}

header, footer, article {
	display: block;
	}

nav, article, footer {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	}
	
header {
	background-image: url("../afbeeldingen/agatha_christie.jpg");
	background-size: cover;	
	margin: -8px;
	padding-top: 50px;
	text-align: right;
	color: white;
	height: 200px;
	}
	
h1 {
    font-family: bookman;
	font-size: 50px;
	letter-spacing: 0.25em;
	background-color: black;
	opacity: 0.5;
	}

nav {
	margin-top: 25px;
    font-size: 26px;
    font-family: bookman;
    text-align: center;
    background-color: #CCCCCC;  /*lichtgrijs*/
	padding: 5px;
	}

nav li {
	display: inline; 
	padding: 2%; 
	font-size: 26px;
	}

h2 {
    font-family: bookman;
	font-size: 36px;
	letter-spacing: 0.4em;
	}

li {
    font-family: bookman;
	font-size: 20px;
	}	

p {
    font-family: bookman;
	font-size: 20px;
	text-align: justify;
	}	

article {
	float: left;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 10px;
	}
	
footer {
	background-color: grey;
	padding: 5px;
	clear: both;
	}
	
footer p {
	text-align: center;
	}
	
.verwijzing{
	font-style: italic;
	font-weight: bold;
	font-size: 12px;
	}

img.pijl{
	float:right;
}